<header>
    <nav>
        <a href="/">Liibrary</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/New">Add Author</a></li>
        </ul>
    </nav>
</header>